{% extends 'core/base.html' %}
{% block title %}
    Borrar maquina
{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class="mb-4">Borrar maquina</h1>
        <p class="fs-5 fst-italic mb-4">Confirma eliminar "{{ object.nombre }}"</p>
        <form method="post" class="mb-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger me-2">Confirmar</button>
            <a href="{% url 'maquinas:list' %}" class="btn btn-secondary">Volver</a>
        </form>
    </div>
{% endblock content %}