{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Sobre Mi
{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title text-center">Sobre Mí</h1>
                    <p class="card-text">Soy Federico Patrul, vivo en Garín y estudio Administración en la Universidad del Salvador. Desde siempre, la programación me ha fascinado, aunque siempre la percibí como algo muy complicado. Sin embargo, recientemente decidí dar el paso y me inscribí en este curso de programación. Fue entonces cuando descubrí que, aunque puede ser difícil, con paciencia y dedicación, todo se puede aprender.</p>
                    <p class="card-text">Este curso ha sido una revelación para mí. Me ha mostrado que, con esfuerzo y perseverancia, es posible dominar incluso las habilidades más complejas. Cada clase y cada ejercicio han sido una oportunidad para superar mis propios límites y aprender algo nuevo y emocionante. Ahora, estoy más motivado que nunca para seguir adelante, sabiendo que con el estudio y la paciencia, puedo lograr cualquier objetivo que me proponga.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}